{% set showMenu = true %}

{% extends 'master' %}

{% block content %}
<h1 class="text-center">Egyenleg: {{ balance }} {{ currency }}</h1>

<div class="v-spacing-lg"></div>

<canvas id="stat" width="400" height="220"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
<script>
var ctx = document.getElementById("stat");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ labels | dump | safe }},
    datasets: [
      {
        label: 'Bevétel',
        data: {{ incomeData | dump | safe }},
        backgroundColor: 'rgba(0, 200, 83, 0.2)',
        borderColor: 'rgba(0, 200, 83, 1)',
        borderWidth: 1
      },
      {
        label: 'Kiadás',
        data: {{ expenseData | dump | safe }},
        backgroundColor: 'rgba(229, 57, 53, 0.2)',
        borderColor: 'rgba(229, 57, 53, 1)',
        borderWidth: 1
      }
    ]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});
</script>
{% endblock %}
