{% set showMenu = true %}

{% extends 'master' %}

{% block content %}
<h1 class="text-center">Egyenleg: {{ chartData.balance }} {{ chartData.currency }}</h1>

<div class="v-spacing-lg"></div>

<canvas id="stat" width="400" height="220"></canvas>
{% endblock %}

{% block scripts %}
<script src="/js/Chart.bundle.min.js"></script>
<script>
var ctx = document.getElementById("stat");
var chart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ chartData.labels | dump | safe }},
    datasets: [
      {
        label: 'Bevétel',
        data: {{ chartData.incomeData | dump | safe }},
        backgroundColor: 'rgba(0, 200, 83, 0.2)',
        borderColor: 'rgba(0, 200, 83, 1)',
        borderWidth: 1
      },
      {
        label: 'Kiadás',
        data: {{ chartData.expenseData | dump | safe }},
        backgroundColor: 'rgba(229, 57, 53, 0.2)',
        borderColor: 'rgba(229, 57, 53, 1)',
        borderWidth: 1
      }
    ]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});
</script>
<script src="/js/updateChart.js"></script>
{% endblock %}
