{% extends 'master' %}

{% block content %}
<h1 class="text-center">Bejelentkezés</h1>

<div class="v-spacing-md"></div>

{% if old('error') %}
<div class="alert alert-danger" role="alert">{{ old('error') }}</div>
{% endif %}

<form class="form-horizontal" action="/login" method="POST" data-toggle="validator">
  {{ csrfField }}
  <div class="form-group has-feedback">
    <label for="username" class="col-sm-2 control-label">Felhasználónév:</label>
    <div class="col-sm-10">
      <input type="username" class="form-control" name="username" value="{{ old('username') }}" maxlength="80" required>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group has-feedback">
    <label for="password" class="col-sm-2 control-label">Jelszó:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" maxlength="60" required>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" name="login">Bejelentkezés</button>
      <a class="btn btn-default" role="button" href="/">Vissza</a>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="/js/bootstrap-validator.min.js"></script>
{% endblock %}
