{% set showMenu = true %}

{% extends 'master' %}

{% block content %}
<h1 class="text-center">Tranzakciók</h1>

<div class="v-spacing-sm"></div>

<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a class="btn btn-default btn-sm" id="new-transaction-btn" role="button" href="/transactions/create">Új tranzakció</a>
  </div>
  <form id="searchForm" class="col-xs-12 col-sm-offset-5 col-sm-5 hide">
    <div class="input-group">
      <input type="text" name="search" class="form-control" placeholder="Keresés...">
      <span class="input-group-btn">
        <button class="btn btn-default btn-sm" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </form>
</div>

<div class="v-spacing-md"></div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">Biztosan törölni szeretnéd?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Összeg</th>
        <th>Típus</th>
        <th>Megjegyzés</th>
        <th>Címkék</th>
        <th>Dátum</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="transaction-table-body">
      {% include 'transactionRows' %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/transactions.js"></script>
{% endblock %}
