{% extends 'master' %}

{% block content %}

<div class="v-spacing-lg"></div>
<div class="text-center">
  <h1>Nem vagy bejelentkezve!</h1>
  <div class="v-spacing-md"></div>
  <p class="lead"><a href="/signup">Regisztrálj</a> vagy <a href="/login">jelentkezz be</a>!</p>
</div>

{% endblock %}
