{% extends 'master' %}

{% block content %}

<div class="v-spacing-lg"></div>
<div class="text-center">
  <h1 id="not-logged-in">Nem vagy bejelentkezve!</h1>
  <div class="v-spacing-md"></div>
  <p class="lead"><a href="/signup" id="signup-link">Regisztrálj</a> vagy <a href="/login"  id="login-link">jelentkezz be</a>!</p>
</div>

{% endblock %}
